<%= link_to books_path do %>
	<i class="fas fa-home fa-3x"></i>
<% end %>

<% @page_title = "Add a Book" %>

<h1>Add a Book</h1>

<%= form_for(@book) do |f| %>
	<table>
		<tr>
			<th>Title</th>
			<td><%= f.text_field(:title) %></td>
		</tr>
		<tr>
			<th>Author</th>
			<td><%= f.text_field(:author) %></td>
		</tr>
		<tr>
			<th>Genre</th>
			<td><%= f.select(:genre, [['Action and adventure'], ['Alternate history'], ['Anthology'], ['Art/architecture'], ['Autobiography'], ['Biography'], ['Business/economics'], ['Chick lit'], ['Children\'s'], ['Classic '], ['Comic book'], ['Coming-of-age'], ['Cookbook'], ['Crafts/hobbies'], ['Crime'], ['Diary'], ['Dictionary'], ['Drama'], ['Encyclopedia'], ['Fairytale'], ['Fantasy'], ['Graphic novel'], ['Guide'], ['Health/fitness'], ['Historical fiction'], ['History'], ['Home and garden'], ['Horror'], ['Humor'], ['Journal'], ['Math'], ['Memoir'], ['Mystery'], ['Paranormal romance'], ['Philosophy'], ['Picture book'], ['Poetry'], ['Political thriller'], ['Prayer'], ['Religion, spirituality, and new age'], ['Review'], ['Satire'], ['Science'], ['Science fiction'], ['Self help'], ['Short story'], ['Sports and leisure'], ['Suspense'], ['Textbook'], ['Thriller'], ['Travel'], ['True crime'], ['Western'], ['Young adult']]) %></td>
		</tr>
		<tr>
			<th>Price (USD)</th>
			<td><%= f.number_field(:price) %></td>
		</tr>
		<tr>
			<th>Publish Date (yyyy-mm-dd)</th>
			<td><%= f.date_field(:publish_date) %></td>
		</tr>
	</table>

	<%= f.submit("Create Book", :class => "btn btn-primary") %>
<% end %>